div{
    margin-top: 20px;
    margin-left: 470px;
}

input{
    width: 370px;
}

p{
    padding: -10px;
}

#btnsend{
    margin-top: 100px;
    margin-left: 100px;
    position: absolute;
    background-color: #2581bc;
    padding: 5px;
    color: white;
    border-radius: 5px;
    width: 150px;
}