<form *ngFor="let pizza of pizzas; let i = index;">
  <img src="{{ pizza.imgUrl }}" width="250" height="150"/>
  <h1>{{ pizza.name }}</h1>
  <p>{{ pizza.description }}</p>
  <div>
    <label for="size">
      <p><b>Size: </b></p>
    </label>
    <input type="radio" class="inputbutton" name="size" checked (click)="onSizeChange('M')" />M
    <input type="radio" class="inputbutton2" name="size" (click)="onSizeChange('L')" />L
  </div>
  <div>
    <label for="quantity">
      <p><b>Quantity: </b></p>
    </label>
    <input type="number" name="quantity" class="inputbutton" min="1" max="10" value="1" id="quantity" [(ngModel)]="quantity"
    />
  </div>
  <div class="price">
    <p><b>Price: {{((totalPrice+pizza.price) * quantity)}}</b></p>
  </div>
  <div class="buttons">
    <button id="btnAddToCart">Add to Cart</button>
    <!-- <button id="btnEditPizza">Edit Pizza</button> -->
  </div>
</form>