<a routerLink='/managment'><button id="close">Back to admin panel</button></a>

<div id="ingredients">
  <h1>Ingredients:</h1>
</div>

<form id="addIngredients">
  <h1>Add new ingredient</h1>
  <p>
    <label>Name:</label>
    <input type="text" name="name" id="inputName">
  </p>
  
  <p>
    <label>Description:</label>
    <input type="text" name="description" id="inputDescription">
  </p>
  
  <p>
    <label>Price:</label>
    <input type="text" name="price" id="inputPrice">
  </p>
  
  <button>Submit</button>
</form>