<a routerLink=''><button id="close">Close</button></a>
<form id="capricciosa">
  <img src="../../assets/images/kapricioza.jpg" width="250" height="150">
  <h1>Capricciosa</h1>
  <p>pizza dough, tomato sauce, mozzarella, mushrooms, ham, olives</p>
  <div>
    <p>Size: </p>
    <input type="radio" name="size"/>M
    <input type="radio" name="size"/>L      
  </div>
  <div>
    <p>Quantity:</p>
    <input type="number" min="1" max="10" value="1" />
  </div>
  <div>
    <p>Price:</p>
  </div>
  <div class="buttons">
    <button>Add to Cart</button>
    <button>Edit Pizza</button>
  </div>
</form>

<form id="margherita"> 
  <img src="../../assets/images/margarita.jpg" width="250" height="150">
  <h1>Margherita</h1>
  <p>pizza dough, tomato sauce, mozzarella cheese, tomatoes, fresh pepper</p>
  <div>
    <p>Size: </p>
    <input type="radio" name="size"/>M
    <input type="radio" name="size"/>L       
  </div>
  <div>
    <p>Quantity:</p>
    <input type="number" min="1" max="10" value="1" />
  </div>
  <div>
    <p>Price:</p>
  </div>
  <div class="buttons">
    <button>Add to Cart</button>
    <button>Edit Pizza</button>
  </div>
</form>

<form id="supreme">
  <img src="../../assets/images/supreme.jpg" width="250" height="150">
  <h1>Supreme</h1>
  <p>pizza dough, pizza sauce, pepperoni, sausages, mushrooms, peppers, olives, cheese</p>
  <div>
    <p>Size: </p>
    <input type="radio" name="size"/>M
    <input type="radio" name="size"/>L       
  </div>
  <div>
    <p>Quantity:</p>
    <input type="number" min="1" max="10" value="1" />
  </div>
  <div>
    <p>Price:</p>
  </div>
  <div class="buttons">
    <button>Add to Cart</button>
    <button>Edit Pizza</button>
  </div>
</form>

<form id="quattro"> 
  <img src="../../assets/images/quattro-stagioni.jpg" width="250" height="150">
  <h1>Quattro stagioni</h1>
  <p>pizza dough, tomatoes, mushrooms, garlic, mozzarella cheese, ham, black olives</p>
  <div>
    <p>Size: </p>
    <input type="radio" name="size"/>M
    <input type="radio" name="size"/>L      
  </div>
  <div>
    <p>Quantity:</p>
    <input type="number" min="1" max="10" value="1" />
  </div>
  <div>
    <p>Price:</p>
  </div>
  <div class="buttons">
    <button>Add to Cart</button>
    <button>Edit Pizza</button>
  </div>
</form>
