<div class="container">
  <h2>Delivery Address </h2>
  <form action="" class="formDelivery">
    City: 
    <input type="text" placeholder="Enter City..." > 
    Street:
    <input type="text" placeholder="Enter Street..." > 
  </form>
  
  <h2 class="bill">Billing Informations</h2>
  <form action="" class="formBilling">
    Name:
    <input type="text" placeholder="Your name..."><br>
  
    Surname:
    <input type="text" placeholder="Your last name..."><br>
  
    Credit Card Number:
    <input type="" placeholder=""><br>
  
    Card Code: 
    <input type=""><br>
  
    Experation Date:
    <input type=""><br>
  
  </form><br>
  
  <button>PAY NOW! </button>
  
  
  </div>
