<app-navbar></app-navbar>

<!-- <div id="logo"><a routerLink=""><img width=200px height=120px  src="../../assets/images/logo.png"></a></div>
<ul>
  <li><a routerLink="/about">About us</a></li>
  <li><a routerLink="/contact">Contact</a></li>
  <li><a routerLink="/login">Login</a></li>
</ul>
<div id="cart"><a routerLink="/cart"><img  width =80px src="../../assets/images/cart.png"></a></div> -->
<div id="home-buttons">
  <a routerLink="/youmade"><button>Make Your Pizza Today</button></a>
  <a routerLink="/ourmenu"><button>Custom Our Menu</button></a>
</div>





