.line2{
    background-color: rgba(185, 181, 154,0.1);
}
.container{
    background-color: rgba(185, 181, 154,0.7);
}
.colLeft{
    width: 40%;
    display: inline-block;
    margin-left: 3%;
    margin-right: 6%;
    border-style: solid;
    border-color: rgba(78, 76, 65, 0.3);
    color: White;
    font-size: 1.3em;    
    border-radius: 4px;
} 
h2{
    margin: auto;
    text-decoration-line: underline;
}

.colRight{
    width: 40%;
    display: inline-block;
    margin-left: 3%;
    margin-right: 6%;
    text-align: center;
    font-size: 1.3em; 
}


li{
    padding: 3%;
}

#youmadePizza{
    width: 100%;
    max-width: 700px;
    height: 100%;
    margin: auto;
    position: relative;
    margin-top: 10%;



    
}


.pizzaSize{
    padding: 2%;
    display: inline-block;
    margin-left:5%;
    margin-right:5%;
    margin-top: 5%;
   
    
}

.pizzaQuantity{
    padding: 2%;
    display: inline-block;
    margin-left:5%;
    margin-right:5%;
    margin-top: 5%;
}

.addCart{
    background: #4CAF50;
    border-radius: 1em;
    font-size: 1.3em; 
    font-weight: 300;
    padding: 8px;
}

.price{
    padding: 10px;
    font-size: 1.3em; 
    margin-left:5%;
    margin-right:5%;
    margin-bottom: 5%;
}

img {
    border-radius: 15px;
}
