<div class="container">

  
  <a><button id="ourMenu">See Our Menu</button></a>
  <a><button class="buttonblue">Close</button></a>


  <div class="row">
    <div class="colLeft">
      <h2>Ingredients: </h2>
        <ol>
          <li>Tomato sauce</li>
          <li class="line2">Fresh tomatoes</li>
          <li>Fresh peppers</li>
          <li class="line2">Mozzarella</li>
          <li>Mushrooms</li>
          <li class="line2">Ham</li>
          <li>Bacon</li>
        </ol>
      
    </div>
    <div class="colRight">
      <img src="../../assets/images/kapricioza.jpg" width="500" height="450" id="youmadePizza">
  
    <div>
      Size:
      <input type="radio" name="size"/>M
      <input type="radio" name="size"/>L      
    </div>
    <div>
      Quantity:
      <input type="number" min="1" max="10" value="1" />
    </div>
    <div>
    Price:
    </div>
    
      <button [disabled]="!allowButton" >Add to Cart</button>
   
      </div>
  </div>






</div>